<style>
th {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}
</style>
<body class="text-left">
  <div class="app-admin-wrap layout-horizontal-bar clearfix">
    <div class="main-content-wrap  d-flex flex-column">
      <div class="main-content"> 

        <div class="row m-t-15">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-body p-0">
                  <h5 class="card-title p-custom1">
                  District Wise Confirmed Cases
                  <%= link_to 'Export to Excel', district_wise_confirmed_cases_path(request.parameters.merge({:format => :xls})), :class => 'btn btn-success float-right filter-btn2', :title => "Export to Excel"%>
                  </h5>
                <div class="separator-breadcrumb border-top mb-3"></div>
                  <div class="listing-tbl-area">
                   <table id="p_table" class="table table-bordered table-hover listing-tbl">
                        <thead>
                          <tr>
                            <th>District</th>
                            <th>Confirmed Cases</th>
                            <th>Last 24 hours</th>
                          </tr>
                         
                        </thead>
                        <% confirmed_total = 0 %>
                        <% confirmed_total_24 = 0 %>
                        <% @districts.each do |d| %>
                         <tr>
                            <td class="text-center"><%= d[1] %></td>
                            <td class="text-center"><%= @confirmed_cases[d[0]] || 0 %></td>
                            <% confirmed_total = confirmed_total + (@confirmed_cases[d[0]] || 0) %>
                            <td class="text-center"><%= @confirmed_cases_24_hours[d[0]] || 0 %></td>
                            <% confirmed_total_24 = confirmed_total_24 + (@confirmed_cases_24_hours[d[0]] || 0) %>
                         </tr>
                        <% end %>
                        <tr>
                            <th>Total</th>
                            <td class="text-center text-bold"><%= confirmed_total %></td>
                            <td class="text-center text-bold"><%= confirmed_total_24 %></td>
                        <tr>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>