<style type="text/css">
th {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}
</style>
<h5 class="card-title p-custom1"> Patients Activity List
	<%#= link_to 'Export to Excel', line_list_activities_patients_path(format: :xls, pagination: "No", district_id: params[:district_id], tehsil_id: params[:tehsil_id], department: params[:department], larva_type: params[:larva_type], datefrom: params[:datefrom], dateto: params[:dateto], tag_id: params[:tag_id]), :class => 'btn btn-success float-right filter-btn2', :title => "Export to Excel"%>
	<%= link_to 'Export to Excel', line_list_activities_patients_path(request.parameters.merge({format: :xls, pagination: "No"})), :class => 'btn btn-success float-right filter-btn2', :title => "Export to Excel"%> 
</h5>
<!-- ACTIVITY LIST -->
<div class="separator-breadcrumb border-top mb-3"></div>
<div class="listing-tbl-area">
	<table id="p_table" class="table table-bordered table-hover listing-tbl">
		<thead>
			<tr>
				<th>Sr No.</th>
				<th>Patient ID</th>
				<th>Patient Name</th>
				<th>District</th>
				<th>Town</th>
				<th>UC</th>
				<th>Category Name</th>
				<th>Tag Name</th>
				<th>Patient Place</th>
				<th>Awareness</th>
				<th>Removal Breeding Spot</th>
				<th>Elimination Breeding Spot</th>
				<th>Spray</th>
				<th>Latitude</th>
				<th>Longitude</th>
				<th>Picture</th>
				<th>Time Difference(Sec)</th>
				<th>Comments</th>
				<th>Submitted by</th>
				<th>Activity Submission Date/Time</th>
				
				
				
    	</tr>                    
		</thead>
		<tbody>
		
			<% @activities.each_with_index do |activity,i| %>
				<tr>
					<td><%= i + 1  %></td>
					<td><%= activity.patient_id %></td>
					<td><%= activity.patient.try(:patient_name) %></td>
					<td><%= activity.district_name %></td>
					<td><%= activity.tehsil_name %></td>
					<td><%= activity.uc_name %></td>
					<td><%= activity.tag_category_name %></td>
					<td><%= activity.tag_name %></td>
					<td><%= activity.patient_place %></td>
					<td><%= activity.awareness %></td>
					<td><%= get_yesno activity.removal_bleeding_spot %></td>
					<td><%= get_yesno activity.elimination_bleeding_spot %></td>
					<td><%= get_yesno activity.patient_spray %></td>
					<td><%= activity.latitude %></td>
					<td><%= activity.longitude %></td>
					<td>
						<% cache(activity.before_picture) do %>
							<%= render partial: '/application/before_picture', locals: {activity: activity} %>
						<% end %>
					</td>
					<td class="text-center"><%= activity.pdif_time %></td>
					<td><%= activity.comment %></td>
					<td><%= activity.user.try(:username) %></td>
					<td><%= activity.created_at.to_datetime.strftime("on %m/%d/%Y at %I:%M%p")  %></td>
					
				</tr>
			<% end %>	
		</tbody>
	</table>
</div>