<ul class="navbar-nav mr-auto"style="margin-left: 1%;">
  <li class="nav-item active m-l-1">
    <a class="nav-link" href="<%= default_home_path %>">
      <i class="nav-icon fa fa-dashboard mr-1"></i> Dashboard <span class="sr-only">(current)</span></a>
  </li>

  <!-- Hospital Information -->
  <li class="nav-item dropdown m-l-1">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"><i class="nav-icon fa fa-bed mr-1"></i>Hospital Info</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/beds">Bed Occupancy Information</a>
      <a class="dropdown-item" href="/medicine_stocks">Medicine Stock</a>
      <a class="dropdown-item" href="/ppe_stocks">PPE Stock</a>
      <a class="dropdown-item" href="/pcr_machines">PCR Machines</a>
    </div>
  </li>

  <li class="nav-item dropdown m-l-1">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"><i class="nav-icon fa fa-bug mr-1"></i>Insecticides</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/insecticide_stocks">Insecticide Stock</a>
    </div>
  </li>

  <li class="nav-item dropdown m-l-1">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
      <i class="nav-icon fa fa-map mr-1"></i> Maps & Graph</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="<%= combined_map_path %>">Combined Map</a>
        <a class="dropdown-item" href="<%= case_response_evidence_path %>">Case Response Evidence</a>
        <a class="dropdown-item" href="<%= heat_map_path %>">Heat Map</a>
        <a class="dropdown-item" href="<%= audit_map_path %>">Audit Map</a>
        <a class="dropdown-item" href="<%= confirmed_patient_month_wise_graphs_patient_index_path %>">Confirmed Patient Date Wise Graph</a>
      </div>
  </li>
  <li class="nav-item dropdown m-l-1">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
      <i class="nav-icon fa fa-chart-line mr-1"></i>Activities</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="<%= line_list_activities_patients_path %>">Patient Activity List</a>
        <a class="dropdown-item" href="<%= line_list_activities_simples_path %>">Simple Activity List</a>
        <a class="dropdown-item" href="/bogus_activities">Bogus Activity List</a>
        <a class="dropdown-item" href="<%= summary_of_activities_town_wise_path %>">Town Wise Activities</a>
        <a class="dropdown-item" href="<%= summary_of_activities_district_wise_path %>">District Wise Activities</a>
        <a class="dropdown-item" href="<%= summary_of_activities_dept_wise_path %>">Department Wise Activities</a>
        <a class="dropdown-item" href="<%= department_wise_dormancy_reports_activities_path %>">Department Wise Dormancy Report</a>
        <a class="dropdown-item" href="<%= third_party_audits_path %>">Third Party Audit</a>
        <a class="dropdown-item" href="<%= audit_report_third_party_audits_path %>">Audit Report</a>
        <a class="dropdown-item" href="<%= hotspot_visit_summary_path %>">Hotspot Visit Summary</a>
        <a class="dropdown-item" href="<%= legacy_data_reports_activities_path %>">Legacy Data</a>
        <a class="dropdown-item" href="<%= district_wise_hotspot_coverage_path %>">District Wise Hotspot Coverage</a>
        <a class="dropdown-item" href="<%= line_list_activities_vector_surveillances_path %>">Vector Surveillance Activity List</a>
        <a class="dropdown-item" href="<%= activity_duration_reports_activities_path %>">Activity Duration Report</a>
      </div>
  </li>

  <li class="nav-item dropdown m-l-1">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
      <i class="nav-icon fa fa-address-card mr-1"></i>User Reports</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="<%= summary_of_activities_user_wise_reports_activities_path %>">User Wise Activities</a>
        <a class="dropdown-item" href="<%= user_wise_larva_report_path %>">User Wise Dormancy Report</a>
      </div>
    </a>
  </li>

  <li class="nav-item dropdown m-l-1">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
      <i class="nav-icon fa fa-wheelchair mr-1"></i>Patients
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/patients/new">Create a Patient</a>
      <a class="dropdown-item" href="/patients">Patients Listing</a>
      <a class="dropdown-item" href="/released_patients">Released Patients</a>
      <a class="dropdown-item" href="/gp_patients_list">Legacy GP Patients Listing</a>
      <a class="dropdown-item" href="/gp_dengue_patients">GP Patients Listing</a>
      <a class="dropdown-item" href="/lab_patients">Lab Patients Listing</a>
      <a class="dropdown-item" href="/gp_forms">Gp Form</a>
      <a class="dropdown-item" href="/patients/diagnosis_change_log">Diagnosis Change Log</a>
    </div>
  </li>

  <li class="nav-item dropdown m-l-1">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
      <i class="nav-icon fa fa-file-video mr-1"></i>Slide Show
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/slideshows/new">Create a Slide Show</a>
      <a class="dropdown-item" href="/slideshows">Slide Show Listing</a>
      
      
    </div>
  </li>

  <li class="nav-item dropdown m-l-1">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
      <i class="nav-icon fa fa-chart-bar mr-1"></i>Patient Reports
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="<%= epidemiological_reports_patient_index_path %>">Epidemiological Report</a>
      <a class="dropdown-item" href="<%= monthly_patients_reports_patient_index_path %>">Monthly Patients</a>
      <a class="dropdown-item" href="<%= zero_patient_reports_patient_index_path %>">Zero Patient Report</a>
      <a class="dropdown-item" href="<%= zero_lab_patient_reports_patient_index_path %>">Lab Zero Patient Report</a>
      <a class="dropdown-item" href="<%= provisional_diagnosis_uc_wise_reports_patient_index_path %>">Provisional Diagnosis UC- Wise</a>
    </div>
  </li>

  <%=  render '/application/help' %>

  <% if false %>
    <li class="nav-item dropdown m-l-1">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
        <i class="nav-icon i-Library"></i>
        My Slideshow
      </a>
    </li>
    <li class="nav-item dropdown m-l-1">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
        <i class="nav-icon i-Hospital"></i>Hospital Data
      </a>
    </li>
    <li class="nav-item dropdown m-l-1">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
        <i class="nav-icon i-Loading-3"></i>Sampling Data
      </a>
    </li>
  <% end %>
</ul>