<ul class="navbar-nav mr-auto"style="margin-left: 1%;">
  <li class="nav-item active m-l-1">
    <a class="nav-link" href="<%= default_home_path %>">
      <i class="nav-icon fa fa-dashboard mr-1"></i> Dashboard <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item dropdown m-l-1">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
      <i class="nav-icon fa fa-map mr-1"></i> Maps</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="<%= combined_map_path %>">Combined Map</a>
        <a class="dropdown-item" href="<%= case_response_evidence_path %>">Case Response Evidence</a>
      </div>
  </li>

  <li class="nav-item dropdown m-l-1">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
      <i class="nav-icon fa fa-list mr-1"></i>Listing
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/gp_dengue_users">General Physicians</a>    
      <a class="dropdown-item" href="/hospitals">Hospitals and Labs</a>    
    </div>
  </li>

  <li class="nav-item dropdown m-l-1">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
      <i class="nav-icon fa fa-wheelchair mr-1"></i>Patients
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/patients">Patients Listing</a>
      <a class="dropdown-item" href="/released_patients">Released Patients</a>
      <a class="dropdown-item" href="/gp_patients_list">Legacy GP Patients Listing</a>
      <a class="dropdown-item" href="/gp_dengue_patients">GP Patients Listing</a>
      
    </div>
  </li>

  <li class="nav-item dropdown m-l-1">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
      <i class="nav-icon fa fa-chart-bar mr-1"></i>Patient Reports
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="<%= epidemiological_reports_patient_index_path %>">Epidemiological Report</a>
      <a class="dropdown-item" href="<%= monthly_patients_reports_patient_index_path %>">Monthly Patients</a>
      <a class="dropdown-item" href="<%= zero_patient_reports_patient_index_path %>">Zero Patient Report</a>
      <a class="dropdown-item" href="<%= zero_lab_patient_reports_patient_index_path %>">Lab Zero Patient Report</a>
      <a class="dropdown-item" href="<%= provisional_diagnosis_uc_wise_reports_patient_index_path %>">Provisional Diagnosis UC- Wise</a>
    </div>
  </li>

  <%=  render '/application/help' %>

  <% if false %>
    <li class="nav-item dropdown m-l-1">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
        <i class="nav-icon i-Library"></i>
        My Slideshow
      </a>
    </li>
    <li class="nav-item dropdown m-l-1">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
        <i class="nav-icon i-Hospital"></i>Hospital Data
      </a>
    </li>
    <li class="nav-item dropdown m-l-1">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
        <i class="nav-icon i-Loading-3"></i>Sampling Data
      </a>
    </li>
  <% end %>
</ul>