<p id="notice"><%= notice %></p>

<p>
  <strong>Medicine name:</strong>
  <%= @medicine_stock.medicine_name %>
</p>

<p>
  <strong>Stock received:</strong>
  <%= @medicine_stock.stock_received %>
</p>

<p>
  <strong>Stock dispensed:</strong>
  <%= @medicine_stock.stock_dispensed %>
</p>

<p>
  <strong>Stock in hand:</strong>
  <%= @medicine_stock.stock_in_hand %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @medicine_stock.hospital_id %>
</p>

