<div class="main-content-wrap  d-flex flex-column">
  <div class="main-content">
    <div class="row">
      <div class="col-md-12">
        <h5 class="card-title p-custom1">
          <% if @pcr_machine.persisted? %>
            Edit PCR Machine
          <% else %>
            Add New PCR Machine
          <% end %>
        </h5>
        <div class="card">
          <div class="card-body p-0 m-t-10">
            <%= form_with(model: pcr_machine, local: true) do |form| %>
              <% if pcr_machine.errors.any? %>
                <div class="row p-custom">
                  <div id="error_explanation">
                    <div class="col">
                      <h2><%= pluralize(pcr_machine.errors.count, "error") %> prohibited this pcr_machine from being saved:</h2>
                      <ul>
                        <% pcr_machine.errors.full_messages.each do |message| %>
                          <li style="color: red;"><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              <% end %>

              <div class="row p-custom">
                <div class="col">
                  <div class="form-group">
                    <label>PCR Functional Machines</label>
                    <%= form.number_field :pcr_functional, min: 0, class: "form-control", :required => true %>
                  </div>
                </div>

                <div class="col">
                  <div class="form-group">
                    <label>PCR Non-Functional Machines</label>
                    <%= form.number_field :pcr_non_functional, min: 0, class: "form-control", :required => true %>
                  </div>
                </div>

                <% if ["new", "create"].include? params[:action] %>
                  <%= form.hidden_field :hospital_id, value: current_user.hospital_id %>
                <% elsif ["edit", "update"].include? params[:action] %>
                  <%= form.hidden_field :hospital_id, value: form.object.hospital_id %>
                <% end %>

                <%= form.hidden_field :user_id, value: current_user.id %>
              </div>

              <div class="separator-breadcrumb border-top mb-3"></div>

              <div class="row p-custom">
                <div class="col-md-2 offset-md-5">
                  <button type="submit" class="btn filter-btn col-md-12 mb-3">Save</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
