<p id="notice"><%= notice %></p>

<p>
  <strong>Pcr functional:</strong>
  <%= @pcr_machine.pcr_functional %>
</p>

<p>
  <strong>Pcr non functional:</strong>
  <%= @pcr_machine.pcr_non_functional %>
</p>

<p>
  <strong>Total pcr machines:</strong>
  <%= @pcr_machine.total_pcr_machines %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @pcr_machine.hospital_id %>
</p>
