<table id="p_table" class="table table-bordered table-hover listing-tbl">
  <thead>
    <tr>
      <th>District</th>
      <th>Town</th>
      <th>Tag</th>
      <th>UC</th>
      <th>Name/Address</th>
      <th>Last Visited Date</th>
    </tr>
  </thead>
  <tbody>
    <% @hotspots.each do |hotspot|%>
      <tr>
        <td><%= hotspot.district_name %></td>
        <td><%= hotspot.tehsil_name %></td>
        <td><%= hotspot.tag_name %></td>
        <td><%= hotspot.uc_name %></td>
        <td><%= hotspot.hotspot.hotspot_name %>/<%= hotspot.hotspot.address %></td>
        <td class="text-center"><%= hotspot.hotspot.last_visited.try(:strftime, "%m/%d/%Y at %I:%M%p") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
