<!-- Current Address -->
<div class="row p-custom">
  <!-- Heading -->
  <div class="col">
    <h6 class="card-title p-custom1" style="font-weight: 700; font-size: 15px;padding: 10px 0 0 0;">
        Current Address
    </h6>
  </div>

  <!-- Address -->
  <div class="col">
    <div class="form-group">
       <%= f.input :address, as: :text, input_html:{class: "form-control"}%>
    </div>
  </div>

  <!-- District -->
  <div class="col">
    <div class="form-group">
      <%= f.input :district_id, label: "District", collection: user_wise_districts, prompt: '-Select-', input_html: {class: 'form-control'}%>
    </div>
  </div>

  <!-- Tehsil -->
  <div class="col">
    <div class="form-group">
      <%= f.input :tehsil_id, label: "Town / Tehsil", collection: district_wise_tehsils(f.object.district_id), prompt: "-Select-", input_html:{class: "form-control"}%>
    </div>
  </div>

  <!-- UC -->
  <div class="col">
    <div class="form-group">
      <%= f.input :uc_id, collection: tehsil_wise_ucs(f.object.district_id,f.object.tehsil_id), prompt: "-Select-", input_html:{class: "form-control"}%>
    </div>
  </div>
</div>

<!-- Permanent Address -->
<div class="row p-custom">
  <!-- Heading -->
  <div class="col">
    <h6 class="card-title p-custom1" style="font-weight: 700; font-size: 15px;padding: 10px 0 0 0;">
      Permanent Address
    </h6>
  </div>

  <!-- Address -->
  <div class="col">
    <div class="form-group">
      <%= f.input :perm_address, label: 'Address', as: :text, input_html:{class: "form-control"}%>
    </div>
  </div>

  <!-- District -->
  <div class="col">
    <div class="form-group">
      <%= f.association :g_perm_district, label: 'District', label_method: :district_name, value_method: :id, include_blank: '-Select-', input_html: {class: 'form-control user_district'}%>
    </div>
  </div>

  <!-- Tehsil -->
  <div class="col">
    <div class="form-group">
      <%= f.input :perm_tehsil_id, label: "Town / Tehsil", collection: district_wise_tehsils(f.object.perm_district_id), prompt: "-Select-", input_html:{class: "form-control"}%>
    </div>
  </div>

  <!-- UC -->
  <div class="col">
    <div class="form-group">
      <%= f.input :perm_uc_id, label: "Uc", collection: tehsil_wise_ucs(f.object.perm_district_id,f.object.perm_tehsil_id), prompt: "-Select-", input_html:{class: "form-control"}%>
    </div>
  </div>
</div>

<!-- Workplace Address -->
<div class="row p-custom">
  <!-- Heading -->
  <div class="col">
    <h6 class="card-title p-custom1" style="font-weight: 700; font-size: 15px;padding: 10px 0 0 0;">
      Workplace Address
    </h6>
  </div>

  <!-- Address -->
  <div class="col">
    <div class="form-group">
      <%= f.input :workplc_address,label: 'Address', as: :text, input_html:{class: "form-control"}%>
    </div>
  </div>

  <!-- District -->
  <div class="col">
    <div class="form-group">
      <%= f.association :g_workplc_district, label: 'District', label_method: :district_name, value_method: :id, include_blank: '-Select-', input_html: {class: 'form-control user_district'}%>
    </div>
  </div>

  <!-- Tehsil -->
  <div class="col">
    <div class="form-group">
      <%= f.input :workplc_tehsil_id, label: "Town / Tehsil", collection: district_wise_tehsils(f.object.workplc_district_id), prompt: "-Select-", input_html:{class: "form-control"}%>
    </div>
  </div>

  <!-- UC -->
  <div class="col">
    <div class="form-group">
      <%= f.input :workplc_uc_id, label: "UC", collection: tehsil_wise_ucs(f.object.workplc_district_id,f.object.workplc_tehsil_id), prompt: "-Select-", input_html:{class: "form-control"}%>
    </div>
  </div>
</div>