<div class="app-admin-wrap layout-horizontal-bar clearfix">
  <div class="main-content-wrap  d-flex flex-column">
    <div class="main-content"> 
        <div class="row m-t-15">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-body p-0">
                <h5 class="card-title p-custom1">
                  GP Forms
                </h5>
                <%= render '/gp_forms/filters' %>
                <div class="separator-breadcrumb border-top mb-3"></div>
                <div class="listing-tbl-area">
                  <%= link_to 'Export to Excel',gp_forms_path(request.parameters.merge({format: :xls})), :class => 'btn btn-success float-right filter-btn2', :title => "Export to Excel"%> 
                  <div class="table-responsive mt-3">
                    <table class="table table-bordered table-hover listing-tbl datatable" width="100%">
                      <thead>
                          <tr>
                            <th>Sr No.</th>
                            <th>Form Id#</th>
                            <th>Provisional Diagnosis</th>
                            <th>Activity Time</th>
                            <th>Enter By</th>
                            <th>Picture</th>
                          </tr>
                      </thead>
                      <tbody>
                        <% @gp_forms.each_with_index do |gp_form, index| %>
                          <tr>
                            <td class="text-center"><%= index + 1 %></td>
                            <td class="text-center"><%= gp_form.id %></td>
                            <td class="text-center"><%= gp_form.provisional_diagnosis %></td>
                            <td class="text-center"><%= gp_form.activity_time.try(:to_datetime).try(:strftime, "on %m/%d/%Y at %I:%M%p") %></td>
                            
                            <td class="text-center"><%= gp_form.gp_dengue_user.try(:name) %></td>
                            <td class="text-center">
                              <% if gp_form.before_picture.present? %>
                                <a href="<%= nfs_picture_path(picture_url: "#{gp_form.before_picture}") %>" data-toggle="lightbox" data-max-width="600"><img src="<%= nfs_picture_path(picture_url: gp_form.before_picture) %>" alt="No Image Found" class="rounded mx-auto d-block" width="80"></a>
                              <% end %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                  <div class="text-center">
                    <% if @gp_forms.present? %> 
                      <%= will_paginate @gp_forms, :class => 'apple_pagination'  %>
                      <div class="apple_pagination"><b style="font-weight: bold;">Total Records: </b><%= @gp_forms.total_entries %></div> 
                    <% else %> 
                      <div class="apple_pagination"><b style="font-weight: bold;">Total Records: </b> 0 </div> 
                    <% end %>
                  </div>
             
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>