<style type="text/css">
th {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}
</style>
<h5 class="card-title p-custom1"> Simple Activities 
 <%#= link_to 'Export to Excel', line_list_activities_simples_path(format: :xls, pagination: "No", district_id: params[:district_id], tehsil_id: params[:tehsil_id], tehsil_ids: params[:tehsil_ids], department: params[:department], larva_type: params[:larva_type], datefrom: params[:datefrom], dateto: params[:dateto], tag_id: params[:tag_id]), :class => 'btn btn-success float-right filter-btn2', :title => "Export to Excel"%>
 <%= link_to 'Export to Excel', line_list_activities_simples_path(request.parameters.merge({format: :xls, pagination: "No"})), :class => 'btn btn-success float-right filter-btn2', :title => "Export to Excel"%> 
</h5>
<!-- ACTIVITY LIST -->
<div class="separator-breadcrumb border-top mb-3"></div>
<div class="listing-tbl-area">
	<table id="p_table" class="table table-bordered table-hover listing-tbl">
		<thead>
			<tr>
				<th>Sr #</th>
				<th>ID</th>
				<th>District</th>
				<th>Town</th>
				<th>UC</th>
				<th>Department</th>
				<th>Tag</th>
				<th>Larva Found</th>
				<th>Dengue Larvae</th>
				<th>Latitude</th>
				<th>Longitude</th>
				<th>Pictures</th>
				<th>Time Difference(Sec)</th>
				<th>Submitted by</th>
				<th>Activity Date/Time</th>

				<% if can? :mark_act_bogus, SimpleActivity %>
					<th>Bogus</th>
				<% end %>
    	</tr>                    
		</thead>
		<tbody>
			<% @activities.each_with_index do |activity,i| %>
				<tr>
					<td><%= i + 1 %></td>
					<td><%= activity.id %></td>
					<td><%= activity.district_name %></td>
					<td><%= activity.tehsil_name %></td>
					<td><%= activity.uc_name %></td>
					<td><%= activity.department_name %></td>
					<td><%= activity.tag_name %></td>
					<td><%= activity.larva_found %></td>
					<td><%= activity.larva_type.try(:titleize) %></td>
					<td><%= activity.latitude %></td>
					<td><%= activity.longitude %></td>
					<td class="text-center">
						<% cache(activity.before_picture) do %>
							<%= render partial: '/application/before_picture', locals: {activity: activity} %>
						<% end %>
						<% cache(activity.after_picture) do %>
							<%= render partial: '/application/after_picture', locals: {activity: activity} %>
						<% end %>
					</td>
					<td class="text-center"><%= activity.pdif_time %></td>
					<td><%= activity.user.try(:username) %></td>
					<td><%= activity.created_at.to_datetime.strftime("on %m/%d/%Y at %I:%M%p") %></td>
					
					
					<% if can? :mark_act_bogus, SimpleActivity %>
						<% if activity.is_bogus? %>
							<td>Marked Bogus</td>
						<% else %>
							<td> <button class="btn bogus-btn mb-3"  onclick="window.location='/mark_act_bogus?activity_id=<%= activity.id %>&page=<%= params[:page] %>'">Mark as Bogus</button></td>
						<% end %>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
			<div class="text-center">
      			<% if @activities.present? %> 
              		<%= will_paginate @activities, :class => 'apple_pagination'  %>
              		<div class="apple_pagination"><b style="font-weight: bold;">Total Records: </b><%= number_with_delimiter(@activities.total_entries, delimiter: ",") %></div> 
             	<% else %> 
               		<div class="apple_pagination"><b style="font-weight: bold;">Total Records: </b> 0 </div> 
       			<% end %>
    		</div>



  