<div class="row">
  <div class="col-md-12">
    <%= form_for slideshows_url, method: :get do |f| %>
        <div class="row p-custom">
            <div class="col-md-2">
              <div class="form-group">
                <label>Name</label>
                <input class="form-control" type="text" id="name" name="name" value='<%= (params[:name].present?)? "#{params[:name]}" : nil %>' />
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label>User Name</label>
                <input class="form-control" type="text" id="username" name="username" value='<%= (params[:username].present?)? "#{params[:username]}" : nil %>' />
              </div>
            </div>            

            <div class="col-md-2">
                <div class="form-group">
                    <label>Department</label>
                   <%= select_tag "department_id", options_for_select(departments_list, :selected => params[:department_id]), {class: 'form-control', :include_blank => "-Select-", id: 'department'} %>
                </div>
            </div>            

            <div class="col-md-2">
              <div class="form-group">
                <label>Date From</label>
                  <input type="date" id="from" name="from" class="form-control" value='<%= (params[:from].present?)? "#{params[:from]}" : nil %>'>
              </div>
            </div>
                      
            <div class="col-md-2">
              <div class="form-group">
                <label>Date To</label>
                <input type="date" id="to" name="to" class="form-control" value='<%= (params[:to].present?)? "#{params[:to]}" : nil %>'>
              </div>
            </div>            
            
        </div>
        <div class="row p-custom">

            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn filter-btn col-md-12 m-t-23">Filter</button>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn  reset-btn col-md-12 m-t-23" onclick="resetData()">Reset</button>
            </div>
        </div>
    <% end %>
  </div>

</div>
<hr/>
<script type="text/javascript">
  $("#from").change(function() {
    var date_from = this.value
    document.getElementById("to").setAttribute("min", date_from);
  });
  
  function resetData(){
    $("select").val("");
    $("input[type=text]").val("");
    $("input[type=date]").val("");
  };
</script>