<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  <style type="text/css">
    .customizer2 .handle2 {
      position: absolute;
      display: flex;
      top: 300px;
      left: 208px;
      cursor: pointer;
      padding: 10px 8px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      box-shadow: -3px 0 4px rgba(0,0,0,.06);
      font-size: 15px;
      transition: all .3s ease-in-out;
      white-space: nowrap;
      height: 43px;
      transform: rotate(-90deg);
    }

    .customizer2 .handle2, .customizer2 .handle2:hover {
      background: #135591;
      color: #fff;
      left: 12px;
    }

    .admin-icon {
      margin-right: 16px;
    }

    th {
      position: sticky;
      top: 0; /* Don't forget this, required for the stickiness */
    }
  </style>
</head>

<body class="text-left">
  <div class="app-admin-wrap layout-horizontal-bar clearfix">
    <div class="main-content-wrap  d-flex flex-column">
      <%= render :partial => 'insecticide_stocks/filters/line_list_filters', :locals => {} %>
      <div class="main-content">
        <div class="row m-t-15">
          <div class="col-md-12">
            <div class="card ">
              <div class="row">
                <div class="col-md-8"><h5 class="card-title p-custom1">Insecticide Stock</h5></div>
                <div class="col-md-2 mt-1">
                  <%= link_to 'Export to Excel', insecticide_stocks_path(format: :xls, district_id: params[:district_id]), class: 'btn btn-success float-right filter-btn2', title: "Export to Excel" %>
                </div>
                <% if can? :create, InsecticideStock %>
                  <div class="col-md-2 mt-1">
                    <%= link_to 'Add Insecticide Stock', new_insecticide_stock_path, :class => 'btn btn-sm btn-warning btn-block', :title => "Add New Insecticide Stock"%>
                  </div>
                <% end %>
              </div>

              <div class="separator-breadcrumb border-top mb-3"></div>
              <div class="listing-tbl-area">
                <table class="table table-bordered table-hover listing-tbl">
                  <thead>
                    <tr>
                      <th>District Name</th>
                      <th>Insecticide Name</th>
                      <th>Stock Received</th>
                      <th>Stock Dispensed</th>
                      <th>Stock In Hand</th>
                      <th>Last Updated By</th>
                      <th>Last Updated At</th>
                      <% if can? :update, InsecticideStock %>
                        <th>Action</th>
                      <% end %>
                    </tr>
                  </thead>
                  <tbody>
                    <% @insecticide_stocks.each do |record| %>
                      <tr>
                        <td class="tbl-td-color2"><%= record.district.try(:district_name) %></td>
                        <td class="tbl-td-color2"><%= record.insecticide_name %></td>
                        <td class="tbl-td-color2"><%= record.stock_received %></td>
                        <td class="tbl-td-color2"><%= record.stock_dispensed %></td>
                        <td class="tbl-td-color2"><%= record.stock_received.to_i - record.stock_dispensed.to_i %></td>
                        <td class="tbl-td-color2"><%= record.user.try(:username) %></td>
                        <td class="tbl-td-color2"><%= record.updated_at.to_formatted_s(:long) %></td>
                        <% if can? :update, InsecticideStock %>
                          <td class="tbl-td-color2"><%= link_to "Edit Stock".html_safe, edit_insecticide_stock_path(record), class: 'edit' %> </td>
                        <% end %>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
