<p id="notice"><%= notice %></p>

<p>
  <strong>Insecticide name:</strong>
  <%= @insecticide_stock.insecticide_name %>
</p>

<p>
  <strong>Stock received:</strong>
  <%= @insecticide_stock.stock_received %>
</p>

<p>
  <strong>Stock dispensed:</strong>
  <%= @insecticide_stock.stock_dispensed %>
</p>

<p>
  <strong>Stock in hand:</strong>
  <%= @insecticide_stock.stock_in_hand %>
</p>

<p>
  <strong>District:</strong>
  <%= @insecticide_stock.district_id %>
</p>
