<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-body p-0 m-t-10">

        <h5 class="card-title m-0 p-custom2">Filter Records</h5>
        <div class="separator-breadcrumb border-top mb-3"></div>

       
          <div class="row p-custom">

            <div class="col-md-2">
          <div class="form-group">
            <label>CNIC</label>
            <input class="form-control" type="text" id="cnic" name="cnic" value='<%= (params[:cnic].present?)? "#{params[:cnic]}" : nil %>' />
          </div>
        </div>
  
        <div class="col-md-2">
          <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" id="p_name" name="p_name" value='<%= (params[:p_name].present?)? "#{params[:p_name]}" : nil %>' />
          </div>
        </div>

  

            <div class="col-md-2">
              <div class="form-group">
                <label>Provisional Diagnosis</label>
                <%= select_tag :prov_diagnosis, options_for_select(provisional_diagnosis_list,{:selected => params[:prov_diagnosis]}), {class: 'form-control', :include_blank => "All"} %>
              </div>
            </div>


            <div class="col-md-2">
            <div class="form-group">
              <label> District:</label>
                  <%= select_tag :district, options_for_select(all_districts,{:selected => params[:district]}), {class: 'form-control', :include_blank => "All"}%>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label> Tehsil:</label>
                  <%= select_tag :tehsil, options_for_select(tehsil_information(params[:district]),{:selected => params[:tehsil]}), {class: 'form-control', :include_blank => "All"}%>
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              <label> UCs:</label>
                  <%= select_tag :uc, options_for_select(ucs_information(params[:tehsil]),{:selected => params[:uc]}), {class: 'form-control', :include_blank => "All"}%>
            </div>
          </div>

          <div class="col-md-2">
          <div class="form-group">
            <label>Reporting Date</label>
              <input type="date" class="form-control" id="r_date" value='<%= (params[:r_date].present?)? "#{params[:r_date]}" : nil %>'>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label>Date From</label>
              <input type="date" class="form-control" id="d_from" value='<%= (params[:d_from].present?)? "#{params[:d_from]}" : nil %>'>
          </div>
        </div>
                  
        <div class="col-md-2">
          <div class="form-group">
            <label>Date To</label>
            <input type="date" class="form-control" id="d_to" value='<%= (params[:d_to].present?)? "#{params[:d_to]}" : nil %>'>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <label>Added By</label>
            <input class="form-control" type="text" id="added_by" name="added_by" value='<%= (params[:added_by].present?)? "#{params[:added_by]}" : nil %>' />
          </div>
        </div>
      </div>

      <div class="row p-custom">

            <div class="col-md-2">
              <button  class="btn filter-btn col-md-12 m-t-23" onclick="filterData()">Filter</button>
            </div>

            <div class="col-md-2">
              <button  class="btn  reset-btn col-md-12 m-t-23" onclick="resetData()">Reset</button>
            </div>
          </div>
       
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
 function resetData(){
    $("#d_from").val("");
    $("#d_to").val("");
    $("#r_date").val("");
    $("#p_name").val("");
    $("#cnic").val("");
    $("#prov_diagnosis").val("");
    $("#uc").val("");
    $("#district").val("");
    $("#tehsil").val("");
    $("#added_by").val("");
  };


  function filterData(){
  

      window.location = "?" + "cnic=" + $("#cnic").val() + "&p_name=" + $("#p_name").val() + "&r_date=" + $("#r_date").val()  + "&prov_diagnosis=" + $("#prov_diagnosis").val() + "&district=" + $("#district").val() + "&tehsil=" + $("#tehsil").val() + "&uc=" + $("#uc").val() + "&d_from=" + $("#d_from").val() + "&d_to=" + $("#d_to").val() + "&added_by=" + $("#added_by").val();

    
};


  $("#district").change(function() {
    $.ajax({
      url:'/ajax/populate_tehsil?district='+this.value,
      dataType: 'json',
      success: function(transport) {
        // console.log(transport);
        // Clear all options from sub category select 
        $("select#tehsil").removeAttr('disabled');
        $("select#tehsil option").remove();

        // Fill sub category select 
        if (transport.length >= 1){
          var row = "<option value=\"" + "" + "\">" + "Select" + "</option>";
          $(row).appendTo("select#tehsil");
          //// Fill sub category select
          $.each(transport, function(i){
            row = "<option value=\"" + transport[i][1] + "\">" + transport[i][0] + "</option>";
            $(row).appendTo("select#tehsil");
          });
        }else{
          var row = "<option value=\"" + "" + "\">" + "" + "</option>";
          $(row).appendTo("select#tehsil");
        }
      },
    });
  });

  $("#tehsil").change(function() {
    $.ajax({
      url:'/ajax/populate_uc?town='+this.value,
      dataType: 'json',
      success: function(transport) {
        // console.log(transport);
        // Clear all options from sub category select 
        $("select#uc").removeAttr('disabled');
        $("select#uc option").remove();

        // Fill sub category select 
        if (transport.length >= 1){
          var row = "<option value=\"" + "" + "\">" + "Select" + "</option>";
          $(row).appendTo("select#uc");
          //// Fill sub category select
          $.each(transport, function(i){
            row = "<option value=\"" + transport[i][1] + "\">" + transport[i][0] + "</option>";
            $(row).appendTo("select#uc");
          });
        }else{
          var row = "<option value=\"" + "" + "\">" + "" + "</option>";
          $(row).appendTo("select#uc");
        }
      },
    });
  });

 </script>
