<div class="row p-custom">
    <div class="col">
        <h6 class="card-title p-custom1" style="font-weight: 700; font-size: 15px;padding: 10px 0 0 0;">
            Patient Demographics
        </h6>
    </div>
</div>

<div class="row p-custom">
    <div class="col">
        <div class="form-group">
            <label>Lab Name</label>
            <input type="text" class="form-control" value="<%= form.lab_name %>" readonly>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Patient Name</label>
            <input type="text" class="form-control" value="<%= form.p_name %>" readonly>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Father  / Husband Name</label>
            <input type="text" class="form-control" value="<%= form.fh_name %>" readonly>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Gender</label>
            <input type="text" class="form-control" value="<%= form.gender %>" readonly>
        </div>
    </div>
</div>

<div class="row p-custom">
    <div class="col">
        <div class="form-group">
            <label>Age</label>
            <input type="text" class="form-control" value="<%= form.age %>" readonly>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Relationship</label>
            <input type="text" class="form-control" value="<%= form.cnic_type %>" readonly>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Patient CNIC</label>
            <input type="text" class="form-control" value="<%= form.cnic %>" readonly>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Contact No#</label>
            <input type="text" class="form-control" value="<%= form.contact_no %>" readonly>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label>Guardian's Contact Number</label>
            <input type="text" class="form-control" value="<%= form.other_contact_no %>" readonly>
        </div>
    </div>
</div>
