<table class="table table-bordered table-hover listing-tbl datatable" width="100%">
  <thead>
      <tr>
        <th rowspan="2">Sr No.</th>
        <th colspan="7">Patient Demographics</th>
        <th colspan="4">Address</th>
        <th colspan="2">Activity Details</th>        
      </tr>
      <tr>
        <th>Patient Id</th>
        <th>Patient Name</th>
        <th>Gender</th>
        <th>CNIC</th>
        <th>Contact#</th>
        <th>Provisional Diagnosis</th>
        <th>Referred hospital</th>                            
        <th>Address</th>
        <th>District</th>
        <th>Tehsil</th>
        <th>Uc</th>
        <th>Activity Time</th>
        <th>Entered By</th>
        <th>Gps District</th>
      </tr>
  </thead>
  <tbody>
    <% @gp_dengue_patients.each_with_index do |gp_dengue_patient, index| %>
      <tr>
        <td class="text-center"><%= index + 1 %></td>
        <td class="text-center"><%= gp_dengue_patient.id %></td>
        <td class="text-center"><%= gp_dengue_patient.patient_name %></td>
        <td class="text-center"><%= gp_dengue_patient.gender %></td>
        <td class="text-center"><%= gp_dengue_patient.cnic %></td>
        <td class="text-center"><%= gp_dengue_patient.contact_no %></td>
        <td class="text-center"><%= gp_dengue_patient.provisional_diagnosis %></td>
        <td class="text-center"><%= gp_dengue_patient.hospital_name || 'N/A' %></td>
        <% current_address = gp_dengue_patient.current_address %>
        <td class="text-center"><%= current_address.try(:address) %></td>
        <td class="text-center"><%= current_address.try(:district_name) %></td>
        <td class="text-center"><%= current_address.try(:tehsil_name) %></td>
        <td class="text-center"><%= current_address.try(:uc_name) %></td>
        <td class="text-center"><%= (gp_dengue_patient.activity_time.to_datetime.strftime("on %m/%d/%Y at %I:%M%p")) rescue "N/A" %></td>
        <td class="text-center"><%= gp_dengue_patient.gp_dengue_user.try(:name) %></td>
        <td class="text-center"><%= gp_dengue_patient.gp_dengue_user.try(:district_name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>