<p id="notice"><%= notice %></p>

<p>
  <strong>Town:</strong>
  <%= @hotspot.town %>
</p>

<p>
  <strong>Uc:</strong>
  <%= @hotspot.uc %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hotspot.address %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @hotspot.tag %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hotspot.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @hotspot.name %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @hotspot.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @hotspot.long %>
</p>

<p>
  <strong>District:</strong>
  <%= @hotspot.district_id %>
</p>

<p>
  <strong>District:</strong>
  <%= @hotspot.district %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @hotspot.is_active %>
</p>

<p>
  <strong>Town:</strong>
  <%= @hotspot.town_id %>
</p>

<p>
  <strong>Uc:</strong>
  <%= @hotspot.uc_id %>
</p>

<%= link_to 'Edit', edit_hotspot_path(@hotspot) %> |
<%= link_to 'Back', hotspots_path %>
