<!DOCTYPE html>
<html>
    <head>
        <title>DTS</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">
        <link rel="stylesheet" href="/assets/themes/lite-purple.min.css">
        <link rel="stylesheet" href="/assets/font-awesome.css">
        <link rel="stylesheet" href="/assets/vendor/perfect-scrollbar.css">
        <script src="https://use.fontawesome.com/972cd49e22.js"></script>
        <link rel="stylesheet" href="/assets/custom.css">
        <link rel="stylesheet" href="/assets/toastr.css">
        <link rel="stylesheet" href="/assets/bootstrap-datepicker.css">
        <link rel="stylesheet" href="/assets/spinner.css">
        <%= javascript_include_tag 'application'%>
        <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
        
        <script src="/assets/graph.js"></script>
        <script src="/assets/chartkick.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        
    </head>

    <body class="text-left">
        <!-- spinner ajax -->
        <div class="loader"></div>

        <div class="app-admin-wrap layout-horizontal-bar clearfix">
            <%= render "/shared/navigation" %>
            <%= yield %>
        </div>
        <script src="/assets/common-bundle-script"></script>    
        <script src="/assets/es5/dashboard.v1.script"></script>
        <script src="/assets/es5/script.min"></script>
        <script src="/assets/es5/customizer.script.min"></script>
        <script src="/assets/es5/customizer2.script.min"></script>
        <script src="/assets/tooltip.script"></script>
        <%= render '/application/sidebar_navigate' %>
    </body>
    <%= render '/application/flash_messages' %>
</html>
